<h1>Listing gists</h1>

<!--<table>-->
  <!--<thead>-->
    <!--<tr>-->
      <!--<th>Snippet</th>-->
      <!--<th>Lang</th>-->
      <!--<th>Description</th>-->
      <!--<th></th>-->
      <!--<th></th>-->
      <!--<th></th>-->
    <!--</tr>-->
  <!--</thead>-->

  <tbody>
    <% @gists.each do |gist| %>
      <!--<tr>-->

        Snippet: <%= gist.description %> - <%= gist.lang %>
      <%= link_to 'Show', gist %>
      <%= link_to 'Edit', edit_gist_path(gist) %>
      <%= link_to 'Destroy', gist, method: :delete, data: { confirm: 'Are you sure?' } %>
        <pre><%= gist.snippet %></pre>
        <!--<td><pre><%= begin raw Pygments.highlight(gist.snippet, lexer: (gist.lang).downcase) rescue gist.snippet end %></pre></td>-->
        <!--<td><%= gist.lang %></td>-->
        <!--<td><%= gist.description %></td>-->
      <br>
      <br>
      <!--</tr>-->
    <% end %>
  </tbody>
<!--</table>-->

<br>

<%= link_to 'New Gist', new_gist_path %>
