<h1>Listing gists</h1>
<%= link_to 'New Gist', new_gist_path %>
<form class="navbar-form navbar-left pull-right" role="search" action="/gists/search">
  <div class="form-group">

    <%= select_tag(:lang, options_for_select(Pygments.lexers.keys.sort.map! {|l| l.downcase.strip}, params[:lang]))%>
  </div>
  <button type="submit" class="btn btn-default">Search</button>
</form>
<br>
<tbody class="page">
    <%= render @gists %>
</tbody>

<br>

<%= link_to 'New Gist', new_gist_path %>
<%= paginate @gists %>